body {	
	padding: 100px 0;	
	background-color: #006363;
	margin:  auto;
	font-family: Arial, Helvetica, sans-serif;
}
.field {	
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;	
	margin: 0 auto;		
	width: 700px;
	height:70vh;	
	background-color:#009999;
}
header {
	color: #006363;
	background-color: #FF9640;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;		
	width: 700px;	
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	line-height: 85px;
}
.profile-field{
	width: 70%;
	height: 100%;
	padding:60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}
.profile-field .photo{
	width: 200px;
	border: 10px solid #FF9640;
	border-radius: 50%;
	height: 200px;
	overflow: hidden;	
}
.profile-field .photo img{
	width: 270px;
    margin-left: -30px;		
}
.profile-field .info{
	width: 400px;		
}
.chat-list-field{
	width: 30%;
	height:100%;
	background-color: #1D7373;
	position: relative;
}
.chat-list-field div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid rgb(17, 136, 136);	
	padding: 10px;
	transition: 200ms ease-in
	
}

.chat-list-field a{
	text-decoration: none;	
	color:  white;
}
.chat-list-field a:first-child{
	text-decoration: none;	
	color:  white;
	padding: 20px;
}
.chat-list-field div:hover{
	background-color: rgb(17, 136, 136);
}

.MuiSvgIcon-root:hover{
	color: #FF9640;
}
.messages-list-field {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height:93%;		
	overflow-y: scroll;
	align-content: flex-end;	
}

.wrp-item {
	flex-basis: 100%;
	display: flex;	
}
.wrp-item-bot {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;	
}
.item {
	background-color:#1D7373;
	border-radius: 20px;
	margin: 10px 10px 5px;	
	padding: 10px 10px;	
	min-width: 250px;
	display: flex;
	align-items: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
.bot {
	text-align: right;	
	background-color:#33CCCC;
	flex-direction: row-reverse;		
}
.item span{
	flex-grow: 6;
}
.avatar{
	width: 60px;
	height: 60px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #FF9640;
}
.bot .avatar{	
	background-color: rgb(141, 247, 247);
}
.options{
	flex-grow: 1;
	width: 24px;
	margin: 0 10px;
    /* position: absolute;
	right: 20px; */
	color: #006363;
}
.chat-form{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 7%;
	position: absolute;
    bottom: 0;
}
.chat-form input {
	width: 20%;	
	outline-style: none;	
	border: none;
	background-color: rgb(132, 218, 218);
	text-align: right;
	padding: 5px 20px;
	font-weight: 700;
	color: rgb(151, 156, 156);
}
.chat-form textarea {
	width: 70%;
	height:auto;	
	outline-style: none;	
	border: none;
	padding: 5px 20px;
	line-height: 24px;
}

.chat-form button {	
    background-color: #FF9640;
    color: white;    
    border-style: none;    
    width:30%;
	padding: 10px 0px;
	outline-style: none;	
}
button:hover{
	background-color: #A64B00;
	cursor: pointer;
	transition: ease 200ms;
}

/* --- new chat ------------------------------- */

.new-chat-field{
	
	color: white;
    font-size: 12px;
    padding: 20px;
    position: absolute;
    bottom: 0;
}
.new-chat-field form{	
	position: relative;
}
.new-chat-field button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	outline-style: none;
	position: absolute;
	font-size: 40px;
	font-weight: 700;
	line-height: 24px;
	color: #1D7373;
	background-color: #FF9640;
	top: -20px;
	right: -20px;
}
.new-chat-field input{	
	height: 40px;
	outline-style: none;	
	border: none;
	background-color: rgb(132, 218, 218);	
	text-align: center;
	color: #1D7373;
}